/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@theme {
  --font-*: initial;
  --font-poppins: Poppins, system-ui, sans-serif;
  --font-nunito: Nunito Sans, sans-serif;

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --animate-fade-in-down: fade-in-down 0.3s ease-out;
  --animate-fade-out-down: fade-out-down 0.3s ease-out;
  --animate-fade-in-up: fade-in-up 0.3s ease-out;
  --animate-fade-out-up: fade-out-up 0.3s ease-out;

  --shadow-custom: 0px 0px 50px 0px rgb(82 63 105 / 15%);

  --color-border: var(--border);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-tprimary: var(--text-primary);
  --color-tsecondary: var(--text-secondary);

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }

    50% {
      transform: rotate(3deg);
    }
  }

  @keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-out-down {
    from {
      opacity: 1;
      transform: translateY(0px);
    }

    to {
      opacity: 0;
      transform: translateY(10px);
    }
  }

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-out-up {
    from {
      opacity: 1;
      transform: translateY(0px);
    }

    to {
      opacity: 0;
      transform: translateY(10px);
    }
  }
}
@layer base {
  :root {
    --background: hsl(0 0 100%);
    --foreground: hsl(180 100% 3.9%);
    --card: hsl(180 5% 99%);
    --card-foreground: hsl(180 100% 3.9%);
    --popover: hsl(180 5% 99%);
    --popover-foreground: hsl(180 100% 3.9%);
    --primary: hsl(180 100% 25%);
    --primary-foreground: hsl(180 100% 98%);
    --secondary: hsl(0 0% 49%);
    --secondary-foreground: hsl(0 0% 95%);
    --muted: hsl(180 10% 96.1%);
    --muted-foreground: hsl(180 20% 45.1%);
    --accent: hsl(15 100% 50%);
    --accent-foreground: hsl(15 100% 95%);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(180 10% 90%);
    --input: hsl(180 10% 90%);
    --ring: hsl(180 100% 25%);
    --radius: 0.5rem;
    --chart-1: hsl(180 70% 50%);
    --chart-2: hsl(252 65% 45%);
    --chart-3: hsl(324 60% 55%);
    --chart-4: hsl(36 55% 60%);
    --chart-5: hsl(108 50% 65%);
    --text-primary: hsl(0, 0%, 100%);
    --text-secondary: hsl(220, 9%, 65%);
  }

  .dark {
    --background: hsl(240 11% 4%);
    --foreground: hsl(180 10% 98%);
    --card: hsl(180 15% 4.9%);
    --card-foreground: hsl(180 10% 98%);
    --popover: hsl(180 15% 4.9%);
    --popover-foreground: hsl(180 10% 98%);
    --primary: hsl(180 100% 25%);
    --primary-foreground: hsl(180 100% 9%);
    --secondary: hsl(0 0% 49%);
    --secondary-foreground: hsl(0 0% 95%);
    --muted: hsl(180 10% 14.9%);
    --muted-foreground: hsl(180 20% 63.9%);
    --accent: hsl(15 100% 50%);
    --accent-foreground: hsl(15 100% 95%);
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(180 20% 14.9%);
    --input: hsl(180 20% 14.9%);
    --ring: hsl(180 100% 25%);
    --chart-1: hsl(180 60% 60%);
    --chart-2: hsl(252 55% 55%);
    --chart-3: hsl(324 50% 65%);
    --chart-4: hsl(36 45% 70%);
    --chart-5: hsl(108 40% 75%);
    --text-primary: hsl(0, 0%, 100%);
    --text-secondary: hsl(222, 13%, 34%);
  }
}
